*{
  box-sizing: border-box;
}
*:focus{
  outline:0;
}
body,html{
  font-family: 'Poppins',sans-serif;
  position: relative;
  margin: 0;
  background: #eee;
  padding: 0;
}
.logo{
  width: 45px;
  height: 45px;
  color:#fff;
  background: #2c3e50;
  font-size: 29px;
  position: fixed;
  top:1rem;
  left: 1rem;
  border-radius: 50%;
  text-decoration: none;
  font-weight: 600;
  text-align: center;
  z-index: 2;
}
.github{
  font-size: 2rem;
  position: fixed;
  top:0.5em;
  right: 0.7em;
  color: #2c3e50;
  z-index: 3;
}
main{
  background:#fff;
  min-height: 98vh;
  margin: 1vh;
  color: #2c3e50;
}
.container{
  text-align: center;
  padding: 5em 15px;
  max-width: 100%;
  margin: 0 auto;
}
h1{
  font-size: 2.5rem;
  padding: 0 0.2em;
  display: inline-block;
  margin: 0;
  line-height: 1;
}
h2{
  font-family: 'IBM Plex Sans',sans-serif;
  font-weight: 300;
  margin: 0;
  font-size: 18px;
}
.content{
  display: flex;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.content p{
  font-size: 14px;
  margin-left: 30px;
  font-family: 'IBM Plex Sans',sans-serif;
  margin-bottom: 50px;
}
.element{
    width: 25%;
    height: 65.5vh;
    position: relative;
    background: #16a085;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    text-decoration: none;
}
.element:hover img{
    transform: scale(1.1);
    opacity: 0.5;
}
.element img{
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    opacity: 0.18;
    border:1px solid #eee;
    -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;

}
.element .info{
    z-index: 3;
    position: relative;
    color: #fff;

}
.element .info h2{
    font-size: 32px;
    text-align: center;
}
footer{
  padding: 4vh 2vh;
  text-align: center;
  font-size: 18px;
  color: #666;
  font-weight: 300;
  font-family: 'IBM Plex Sans', sans-serif;
  background: #fff;
  margin: 1vh;
}
footer a{
  color: #666;
  font-weight: 600;
  text-decoration: none;
}
footer a:hover{
  border-bottom:1px solid #ddd;
}
@media (max-width:768px){
    .element{
        width: 100%;
        height: 50vh;
    }
}
